<div class="container container-resp p-4">
    <div class="card text-center">
        <div class="card-body">
            <div class="form-header pl-5">
                <div class="form-header-title">
                    <div>
                        <i class="fa fa-bed mr-2" aria-hidden="true" style="font-size: 20px;"></i>
                    </div>
                    <h3 class="title">Maitenance room type</h3>
                </div>
            </div>
            <form class="form-body" action="/roomtype/add" method="POST">
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="roomtype" autocomplete="off" required>
                        <label class="placeholder">Room type</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="number" step=".01" name="price" autocomplete="off" required>
                        <label class="placeholder">Price</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <select class="form-control" size="1" name="bedtype" id="bedtype" required>
                            <option value="" hidden></option>
                            <option value="Single">CRIB (68.5cm X 132cm)</option>
                            <option value="Twin">TWIN (96.5cm X 190.5cm)</option>
                            <option value="TwinXL">TWIN XL (96.5cm X 203.5cm)</option>
                            <option value="Full">FULL (134.5cm X 190.5cm)</option>
                            <option value="Queen">QUEEN (152.5cm X 203.5cm)</option>
                            <option value="King">KING (193cm X 203.5cm)</option>
                        </select>
                        <label class="placeholder">Bed Size</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="number" step="1" name="nbeds" id="nbeds" autocomplete="off" value="1" min="1" required>
                        <label class="placeholder">N° beds</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" name="capacity" id="roomcapacity" required>
                        <label class="placeholder">Capacity</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <textarea class="form-control" name="description" id="description" cols="30" rows="2" autocomplete="off"></textarea>
                        <label class="placeholder">Description</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <a class="btn btn-danger btn-block" href="/roomtype">Cancel</a>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Accept">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>