<div class="body">
    <div class="top-info">
        <div class="top-info-line">
            <p class="title">Date :</p>
            <p>12/05/2020</p>
        </div>
        <div class="top-info-line">
            <p class="title">PO number : </p>
            <p>PO0001</p>
        </div>
        <div class="top-info-line">
            <p class="title">Delivery date :</p>
            <p>20/06/2020</p>
        </div>
    </div>
    <div class="customer-info">
        <div class="vendor">
            <div class="info-title">Vendor</div>
            <div class="info-line">
                <p class="title">Bussiness name</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Contact</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">State</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">City</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Address</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Zip code</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Phone</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">E-mail</p>
                <p></p>
            </div>
        </div>
        <div class="customer">
            <div class="info-title">Ship to</div>
            <div class="info-line">
                <p class="title">Bussiness name</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Contact</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">State</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">City</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Address</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Zip code</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Phone</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">E-mail</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="table-info">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 55%; text-align: start;">Toilet paper</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr>
                    <td style="width: 55%; text-align: start;">Bleach</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr>
                    <td style="width: 55%; text-align: start;">Toilet paper</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr id="final">
                    <td style="width: 55%;"></td>
                    <td style="width: 15%;"></td>
                    <th style="width: 15%; background-color: #8EA9DB">Total</th>
                    <td style="width: 15%;">1000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>