<style>
    body {
        height: 100%;
        width: 97vw;
        padding: 5px;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }

    .top-report {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .top-report img {
        height: 70px;
        width: 300px;
    }

    .top-report .title {
        display: flex;
        justify-content: center;
    }

    /*Info doc*/
    .body {
        width: 100%;
        height: 80%;
        padding: 10px;
    }

    .top-info {
        height: 90px;
        margin-bottom: 5px;
    }

    .top-info-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
    }

    .top-info-line .title {
        width: 100px;
    }

    .customer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .customer-info .vendor {
        width: 350px;
        height: fit-content;
    }

    .customer-info .customer {
        width: 350px;
        height: fit-content;
    }

    .info-title {
        background-color: #8EA9DB;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        font-weight: 800;
    }

    .info-line {
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    .info-line p {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .info-line .title {
        width: 30%;
    }

    .table-info {
        width: 100%;
    }

    .table-info table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    .table-info thead tr {
        background-color: #8EA9DB;
    }
</style>

<div class="body">
    <div class="top-info">
        <div class="top-info-line">
            <p class="title">Date :</p>
            <p>12/05/2020</p>
        </div>
        <div class="top-info-line">
            <p class="title">PO number : </p>
            <p>PO0001</p>
        </div>
        <div class="top-info-line">
            <p class="title">Delivery date :</p>
            <p>20/06/2020</p>
        </div>
    </div>
    <div class="customer-info">
        <div class="vendor">
            <div class="info-title">Vendor</div>
            <div class="info-line">
                <p class="title">Bussiness name</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Contact</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">State</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">City</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Address</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Zip code</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Phone</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">E-mail</p>
                <p></p>
            </div>
        </div>
        <div class="customer">
            <div class="info-title">Ship to</div>
            <div class="info-line">
                <p class="title">Bussiness name</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Contact</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">State</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">City</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Address</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Zip code</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">Phone</p>
                <p></p>
            </div>
            <div class="info-line">
                <p class="title">E-mail</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="table-info">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 55%; text-align: start;">Toilet paper</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr>
                    <td style="width: 55%; text-align: start;">Bleach</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr>
                    <td style="width: 55%; text-align: start;">Toilet paper</td>
                    <td style="width: 15%;">40</td>
                    <td style="width: 15%;">5.00</td>
                    <td style="width: 15%;">200</td>
                </tr>
                <tr id="final">
                    <td style="width: 55%;"></td>
                    <td style="width: 15%;"></td>
                    <th style="width: 15%; background-color: #8EA9DB">Total</th>
                    <td style="width: 15%;">1000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>