.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6CA7C9;
    color: #ffffff;
    position: fixed;
    z-index: 0;
}
.header-logo{
    height: 100%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4A90BB;
    padding: 2px;
}
.header-logo img{
    height: 100%;
}
.header-content{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content img{
    height: 100%;
}
#bar{
    display: none;
}
.checkbox-label{   
    font-size: 20px;
    width: 3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.checkbox-label:hover{   
    filter: brightness(150%);
}
.header-content-user{
    width: 13vw;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/************************************/
.body{
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    background-color: #F1EFF9;
}
.body-nav{
    background-color: #151A1A;
    width: 15vw;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    color: #818181;
    transition: 0.4s;
    z-index: 0;
}
.body-nav-active{
    transform: translateX(0);
    transition: 0.4s;
}
.body-nav-label{
    background-color: #121616;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
.body-nav-ul{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nested{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;    
    display: none;
}
li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
li span{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}
span i{
    width: 45px;
    margin: auto;
    text-align: center;
}
span label{
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}
.active .nested{
    display: flex;
}
.arrow{
    transition: 0.4s;
}
.active span .arrow{
    transform: rotate(-90deg);
}
.inactive-span:hover{
    background-color: #494E53;
    color: white;
}
.body-content-active{
    padding-left: 15vw;
    transition: 0.4s;
}
.active-span{
    background-color:#EBECEC;
    color:#343A40;
}
span:active{
    background-color:#EBECEC;
    color:#343A40;    
}
.body-content{
    padding-left: 0vw;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.body-content-active{
    padding-left: 15vw;
    transition: 0.4s;
}
.title{
    color: #69646F;
    font-size: 25px;
    width: 90%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.body-table{
    width: 90%;
    padding: 10px;
    background-color: white;
}
/*************************/
.overlay{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    display: flex;
}
.overlay-inactive{
    display: none;
}
/**********************/
.body-form-inactive{
    display: none;
}
.body-form{
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 35%;
    min-width: 400px;
    margin: auto;
    display:flex;
}
/**********************/
.form-head{
    text-align: center;
    width: 100%;
    background-color: #70A7C8;
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.form-body{
    width: 100%;
    height: 100px;
}
.form-body form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px 10px 40px;
}
.form-input{
    width: 100%;
    display: flex;
}
.form-input label{
    width: 25%;
}
.form-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.disable-selection{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.table-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-head input{
    width: 150px;
}
