<ul class="nav justify-content-center top-bar">
    <div class="top-bar-logo">
        <a href=""><img src="/img/logo-3.svg"></a>
        <i class="fa fa-bars" id="bar"></i>
    </div>
    <div class="top-bar-user">
        <li class="dropdown user-op">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Log out</a></li>
            </ul>
        </li>
    </div>
</ul>