.reservation-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  min-height: 50%;
  min-width: 50%;
  padding: 3% 0%;
  & h2{
    font-size: 35px;  
    font-weight: bolder;  
    margin-bottom: 5%;
  }
  & .text-boxes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    // row-gap: 4px;
    // column-gap: 4px;
    & input{
      text-align: center;
    }
    & .btn-send{
      display: grid;
      grid-column: 2; //Positionate at 2nd column
    }
  }
  // & fieldset{
  //   border-width: 2px;
  //   border-style: groove;
  //   border-image: initial;
  // }
}
fieldset{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border-radius: 5px;
    min-inline-size: min-content;
    border-width: 3px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend{
    box-sizing: border-box;
    // color: inherit;
    // display: table;
    width: 30%;
    // max-width: 100%;
    padding: 0;
    white-space: normal;
}