*{
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #ffffff;
    position: fixed;
    z-index: 0;
}
.header-logo{
    height: 100%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #494545fd;
    padding: 2px;
}
.header-logo img{
    height: 100%;
}
.header-content{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494545fd;
}
.header-content img{
    height: 100%;
}
#bar{
    display: none;    
}
.checkbox-label{   
    font-size: 20px;
    width: 3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.checkbox-label:hover{   
    filter: brightness(150%);    
}
.header-content-user{
    width: 13vw;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/************************************/
.body{
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    background-color: #F1EFF9;
}
.body-nav{
    background-color: #151A1A;
    width: 15vw;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    color: #fff;
    transition: 0.4s;
    z-index: 0;    
}
.body-nav-active{
    transform: translateX(0);
    transition: 0.4s;
}
.body-nav-label{
    background-color: #121616;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
.body-nav-ul{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nested{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;    
    display: none;
}
li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
li span{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}
span i{
    width: 45px;
    margin: auto;
    text-align: center;
}
span label{
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}
.active .nested{
    display: flex;
}
.arrow{
    transition: 0.4s;
}
.active span .arrow{
    transform: rotate(-90deg);
}
.inactive-span:hover{
    background-color: #494E53;
    color: white;
}
.body-content-active{
    padding-left: 15vw;
    transition: 0.4s;
}
.active-span{
    background-color:#EBECEC;
    color:#343A40;
}
span:active{
    background-color:#EBECEC;
    color:#343A40;    
}
.body-content{
    padding-left: 0vw;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.body-content-active{
    padding-left: 15vw;
    transition: 0.4s;
}
.title{
    margin-top: 8px;
    margin-left: 20px;
    color: black;
    font-size: 25px;
    width: 90%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.body-table{
    width: 90%;
    padding: 10px;
    background-color: white;
}
/*************************/
.overlay{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    display: flex;
}
.overlay-inactive{
    display: none;
}
/**********************/
.body-form-inactive{
    display: none;
}
.body-form{
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 50%;
    margin: auto;
    display:flex
}
/**********************/
.form-head{
    text-align: center;
    width: 100%;
    background-color: #70A7C8;
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.form-body form{
    width: 100%;
    color: black;    
    font-weight: bolder;
    background-color: transparent;   
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 40px;
    border:none; 
}
.form-button *{
    width: 80%;
    margin: 3px;
}
.form-head{
    background-color: #303030;    
    border-radius: 15px 15px 0px 0px;
    border:none;
}
.body-form{
    border-radius: 15px;
    border:none;
}
.form-input{
    width: 100%;
    display: flex;
}
.form-input label{
    width: 30%;
}
.form-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.disable-selection{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.table-head{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
}
.search-bar-div{
    width: 100%;
    height: 100%;
    margin-left: 8px;
    margin-top: 7px;
}

/* New addition*/
table thead{
    background-color: #232323;
}
.table tbody{
    background-color: #DFDEE2;
}
div .body-content, div .body-table{
    background-color: transparent;
}
th{
    color: #ffffff;    
}
tbody td{
    align-self: center;
}
.btn-group-toggle{
    width:100%;    
    
}
.btn-group-toggle .btn{
    border: none;
}

.body-content{
    background-color: #999696;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23454545' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%236b6b6b'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

tr th{
    text-align: center;
}
tr td {
    color: black;
    text-align: center;
}
