<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <div class="form-header pl-5">
                <div class="form-header-title">
                    <div>
                        <i class="fa fa-shopping-cart mr-2" aria-hidden="true" ></i>
                    </div>
                    <h3 class="title">Maitenance inventory issue</h3>
                </div>
            </div>
            <form class="form-body">
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Receipt n°</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">PO number</label>
                        <button class="btn btn-secondary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Invoice n°</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Receipt date</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Tax rate</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Total price</label>
                    </div>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Tax rate</label>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="form-control" type="text" class="form-control">
                        <label class="placeholder">Total</label>
                    </div>
                </div>
                <div class="marginRow table-fixed">
                    <table class="table table-sm ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Bleach</td>
                                <td>50</td>
                                <td>5</td>
                                <td>250</td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                    </a>
                                </td>
                            </tr>   
                        </tbody>
                    </table>
                </div>
                <div class="marginRow">
                    <div class="form-group col d-flex justify-content-center">
                        <button class="btn btn-danger btn-block">Cancel</button>
                    </div>
                    <div class="form-group col d-flex justify-content-center">
                        <input class="btn btn-primary btn-block" value="Accept">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>