<div class="container p-4">
    <div class="row">
        <div class="col-md">
            <div class="card text-center">
                <div class="card-body p-4">
                    <div class="row mx-auto form-header">
                        <div class="form-header-title">
                            <div>
                                <i class="fas fa-dolly-flatbed mr-2"></i>
                            </div>
                            <h4>Inventory issue</h4>
                        </div>
                        <button class="btn btn-success">
                            <i class="fa fa-plus mr-1" aria-hidden="true"></i>Add
                        </button>
                    </div>
                    <div class="row mx-auto mt-2">
                        <input class="form-control" type="text" placeholder="Filter by PO number">
                    </div>
                    <div class="row mx-auto mt-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Document n°</th>
                                    <th scope="col">Issued by</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>IS0001</td>
                                    <td>Worker 1</td>
                                    <td>19/05/20</td>
                                    <td>Accepted</td>
                                    <td>
                                        <a href="">
                                            <button type="button" class="btn btn-secondary">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                        <a href="">
                                            <button type="button" class="btn btn-primary">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </a>
                                        <a href="">
                                            <button type="button" class="btn btn-danger">
                                                <i class="fa fa-trash" aria-hidden="true"></i>

                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>