<div class="container container-resp p-4 d-flex flex-column align-items-center justify-content-center">
    <img src="/img/logo.svg" id="Best-Western" alt="Best Western" class="w-50 mb-5">

        <div class="card text-center card-rd container-resp">
            <div class="card-body">
                <h3 class="mb-3">Sign in</h3>
                <form class="form-body" action="/signin" method="POST">
                    <div class="form-group col d-flex justify-content-center mt-3">
                        <input type="text" name="username" class="form-control" autocomplete="off"
                            placeholder="Username" required>
                    </div>
                    <div class="form-group col d-flex justify-content-center mt-4">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                            autocomplete="off" required>
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-success btn-block">Sign in</button>
                    </div>
                </form>
            </div>
        </div>

</div>